@layer swimmer-ui {
  .game-ui-icon {
    display: inline-block;
    flex: none;
    vertical-align: middle;
    width: var(--game-ui-icon-md);
    height: var(--game-ui-icon-md);
  }
  .game-ui-icon[data-icon-size='sm'] {
    width: var(--game-ui-icon-sm);
    height: var(--game-ui-icon-sm);
  }
  .game-ui-icon[data-icon-size='lg'] {
    width: var(--game-ui-icon-lg);
    height: var(--game-ui-icon-lg);
  }
}
